.panel-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}

.menu-dropdown{
    width: 100%;
    height: 30px;
    background-color: #F7F7F7;
    
    
}

.menu-dropdown ul{
    list-style: none;
    position: relative;
}

.menu-dropdown ul li{
    width: 150px;
    float: left;
    font-size: 12px;
}

.menu-dropdown a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #6e8efb;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-right: solid 1px #f0f0f0;
}

.menu-dropdown ul ul{
    position: absolute;
    visibility: hidden;
}

.menu-dropdown ul li:hover ul{
    visibility: visible;
}

.menu-dropdown a:hover{
    background-color: #f0f0f0;
    color: black !important;
    text-decoration: none;

}

.menu-dropdown ul ul li{
    float: none;
    border-bottom: solid 1px #f0f0f0;
}

.menu-dropdown ul ul li a{
    background-color: #6e8efb;
}
