.nav_tabs{
    position: relative;
    width: 100%;
    font-size: 14px;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li{
    float: left;
    
}

.nav_tabs label{
    width: 100%;
    padding: 20px;
    background-color:#ECEEF3;
    display: block;
    color: #0056B3;
    cursor: pointer;
    text-align: center;
    border: 0.5px solid #b8b6b686;
    border-top: none;
    border-left: none;
    border-right: none;
    
    margin: 0;
}

.nav_tabs label:hover{
    border: none;
    color: #044891;
    transform: scale(1.05);
    transition: .2s;
}

.rd_tabs:checked ~ label{
    background-color:#FFFFFF;
    color: #495057;
    border: none;
    border-top: 0.5px solid #b8b6b686;
    border-left: 0.5px solid #b8b6b686;
    border-right: 0.5px solid #b8b6b686;
    border-radius: 5px;
    

}

.rd_tabs{
    display: none;
}

.content-tabs{
    background-color: #fff;
    display: none;
    position: absolute;
    height: 320px;
    width: 100%;
    max-width: 100%;
    left: 0;
}

.rd_tabs:checked ~ .content-tabs{
    display: block;
}

.process-tabs{
    padding: 0px;
    width: 100%;
}