.nav_tabs{
    position: relative;
    width: 100%;
    font-size: 14px;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li{
    float: left;
    
}

.nav_tabs label{
    width: 100%;
    padding: 20px;
    background-color:#0089F3;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    
    margin: 0;
}

.nav_tabs label:hover{
    border: none;
    color: #fff;
    transform: scale(1.05);
    transition: .2s;
}

.rd_tabs:checked ~ label{
    background-color:#C1E7FC;
    color: black;
    border: 0.5px solid #F7F7F7;
}

.rd_tabs{
    display: none;
}

.content-tabs{
    background-color: #fff;
    display: none;
    position: absolute;
    height: 320px;
    width: 100%;
    max-width: 100%;
    left: 0;
}

.rd_tabs:checked ~ .content-tabs{
    display: block;
}

.process-tabs{
    padding: 0px;
    width: 100%;
}