.table-striped {
    padding: 0px;
    width: 100%;
    font-size: 12px;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.table-striped th {
    align-items: center;
    justify-content: center;
    text-align: center;
       
}

.table-striped td {
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.table-striped svg {
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;      
}

th.table-search {
    background-color: #F7F7F7;
    border-top-color:  #F7F7F7 !important;
    border-left-color:  #F7F7F7 !important;
    border-right-color:  #F7F7F7 !important;

}

th.table-search1 {
    background-color: #F7F7F7 !important;
    border-top-color:  #F7F7F7 !important;
    border-left-color:  #F7F7F7 !important;
    border-right-color:  #F7F7F7 !important;
    margin: 19px !important;
    padding: 19px !important;

}
    
/* Tabela de Pedidos */

th.table-pedidos {
    background-color: #eceef3;
    border-top-color:  #eceef3 !important;
    border-left-color:  #eceef3 !important;
    border-right-color:  #eceef3 !important;

}

th.table-pedidos1 {
    background-color: #eceef3 !important;
    border-top-color:  #eceef3 !important;
    border-left-color:  #eceef3 !important;
    border-right-color:  #eceef3 !important;
    margin: 19px !important;
    padding: 19px !important;

}
